{% extends 'base.html' %}

{% block title %}
PRW | About Us
{% endblock title %}


{% block body %}
<!-- Jumbotron Start -->
<div class="jumbotron jumbotron-fluid bg-contact">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4 bg-contact-text mb-3"><b>About Us</b></h1>
            <h4 class="text-light">Welcome to PRW !</h4>
            <p class="lead text-light"> We believe in making life convenient and sustainable by providing a seamless
                platform for all your rental needs.</p>
        </div>
    </div>
</div>

<!-- Jumbotron End -->

<!-- About Section Start -->
<div class="container">
    <div class="card mb-5">
        <div class="card-body">
            <h1 class="text-center">Our Mission</h1>
            <hr>
            <p class="text-justify">Our mission is to empower individuals and businesses to access the products they
                need without the burdens of ownership. We understand that not every item needs to be owned permanently.
                By offering a vast selection of items for rent, we aim to reduce unnecessary consumption, minimize
                waste, and encourage a more sustainable lifestyle.</p>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h1 class="text-center">What we offer</h1>
            <hr>
            <p class="text-justify">At PRW, we offer a diverse catalog of products available for rent, catering
                to various needs and preferences. From essential household appliances to specialized equipment, event
                furnishings to outdoor gear, we have carefully curated our inventory to ensure that you can find exactly
                what you're looking for. Our user-friendly platform makes browsing, renting, and returning items a
                breeze, so you can focus on what truly matters to you.
            </p>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h1 class="text-center">Why Choose PRW ?</h1>
            <hr>
            <p class="text-justify">
                <b>1. Convenience :</b> <br>Say goodbye to storage issues and the hassle of maintaining items. PRW allows you to access products when you need them and return them when you're done.<br><br>

                <b>2. Cost Effective :</b> <br>Renting items is often more cost-effective than buying, especially for occasional or short-term use. Our competitive rental rates ensure you get value for your money.<br><br>
                
                <b>3. Quality Assurance :</b> <br>We take pride in offering top-notch, well-maintained products from trusted brands. Every item is thoroughly inspected and sanitized before delivery.<br><br>
                
                <b>4. Customer Support :</b> <br>Our dedicated customer support team is always ready to assist you. From product recommendations to order inquiries, we're here to ensure your rental experience is smooth and enjoyable.<br>
            </p>
        </div>
    </div>
</div>
<!-- About Section End -->
{% endblock body %}